{% extends 'base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "home/style.css" %}">
 
<style>
    .main_container {
        display: flex;
        justify-content: center;
    }
    .about_card {
        align-self: center;
        margin-top: 10vh;
        background-color: #F7F7F7;
        min-width: 14rem;
        width: 20rem;
        max-width: 40rem;
        min-height:30rem;
        max-height: 60rem;

        border-radius: .5rem;
        box-shadow: 0 0 .25rem rgba(1, 1, 1, 0.05);

    }
</style>

{% endblock head %}

{% block title %}MARCA-TODO-About{% endblock title %}

{% block content %}
<div class="main_container">

     <div class="about_card">
        <div class="profile">
            <p class="text-center pt-3" > <i class="fa-solid fa-pen-to-square text-secondary"  style="font-size: 48px;"></i> </p>
             <h5 class="title text-center text-secondary" style="font-family: 'Josefin Sans', sans-serif; font-weight: 600;"><b>MARCA TODO </b></h5>
            <hr>
            <div class="content px-3 font-dark">
                <p style="font-size: 14px; color: rgb(112, 112, 112);">This is a todo webapp intended to share texts, links etc.</p>
                <p style="font-size: 13px; color: rgb(61, 61, 61); font-style: italic;">Note: Notes on this website are public, so do not share sensitive data.</p>
            </div>
            <div class="contact d-flex" style="justify-content: center;">
                <div>
                </div>

                <div class="footer" style="position:absolute; bottom: 0;">
                    <div class="socials" >
                        <h6 class="text-center mb-0" >Join me on</h6>
                        <div class="links d-flex" style="justify-content: center; font-size:32px;">
                            <a href="https://www.linkedin.com/in/amit-chaudhary-2b8b22199"> <i class="fa-brands fa-linkedin px-1"> </i></a>
                            <a href="https://github.com/amit9838"> <i class="fa-brands fa-github-square px-1"></i> </a>
                        </div>
                        <hr style="margin-top:0;">
                    </div>
                    
                    <h6 class="text-center text-dark mb-0 pb-0"  style="font-size: 14px;">Contact Developer</h6>    
                    <p class="text-center mb-0" style="font-size: 13px;">Amit Chaudhary</p>
                    <p class="mb-0 text-center" style="font-size: 13px;">
                        <a href = "mailto:amitchaudhary0539@gmail.com"> Send Email
                        </a>
                    </p>
                    
                    <!-- <hr> -->
                    <hr class="mt-1 mb-2">
                        <p class="text-center">
                            <a href = "mailto:amitchaudhary0539@gmail.com" >        
                                Send Feedback
                            </a>
                        </p>
                    </div>
            </div>
        </div>
        

     </div>
</div>
{% endblock content %}